.button {
    /* button */


    width: 360px;
    height: 48px;
    background-color: #28a745;
    font-family: 'Inter';

    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;



}

@media (max-width: 500px) {
    .button {
        width: 100%;
    }
}